<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sept - StratUp Landing Page</title>
		
		<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700' rel='stylesheet' type='text/css'>
		 -->
		<!-- Bootstrap -->
		<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
 -->

<!-- 		<link href="css/owl.carousel.css" rel="stylesheet">
		<link href="css/owl.theme.css" rel="stylesheet">
		<link href="css/owl.transitions.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
 -->
 		<link rel="shortcut icon" href="/path_to_your_pic"/>


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body data-spy="scroll" data-target=".main-nav">

		<header class="st-navbar">
			<nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
				<div class="container"><!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">
						<!-- <img src="photos/logo3.png" alt="" class="img-responsive"> -->
						<%= image_tag("logo2.png" ,:class => "img-responsive") %>
						</a>
					</div>
					
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse main-nav" id="sept-main-nav">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#home">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#service">Service</a></li>
							<li><a href="#portfolio">Portfolio</a></li>
							<!-- <li><a href="#pricing">Pricing</a></li> -->
							<!-- <li><a href="#blog">Blog</a></li> -->
							<li><a href="#contact">Contact Us</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>
		</header>
		
		<section class="home" id="home" data-stellar-background-ratio="0.4">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<div class="st-home-unit">
							<div class="hero-txt">
								<p class="hero-work">Web Development - UX Design - Pro Smartphone Cross-Platform Development  </p>
								<h2 class="hero-title"> TECHNOLOGY DESIGN AND INNOVATION</h2>
								<p class="hero-sub-title">Start, lead and conquer your product development</p>
								<!-- <a href="#" class="btn btn-default btn-lg left-btn">Purchase Now</a> -->
								<a href="#contact" class="btn btn-main btn-lg">Contact Us</a>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="mouse-icon"><div class="wheel"></div></div>
		</section>

		

		<section class="about" id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>WelCome to SEPT</h3>
							<p>We are a creative Team of Developers and Designers</p>
						</div>
						<div class="row mb90">
							<div class="col-md-12">
								<h3>We help startups and engineering teams design, develop, and deliver beautiful products at high speed and quality. We have built products in Fintech, Healthtech, Edtech, IoT, AI, alternate lending and models like marketplaces, Uber and Airbnb..</h3>
							</div>
							<!-- <div class="col-md-6">
								<img src="photos/about.jpg" alt="" class="img-responsive">
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="funfacts" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="section-title st-center">
					<p>WORK DONE</p>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="25964" data-runit="1">38</span>+</div>
							<strong class="funfact-title">Projects</strong>
						</div><!-- .funfact -->
					</div>
					<div class="col-md-3">
						<div class="funfact">
							
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="35469" data-runit="1">3500</span>+</div>
							<strong class="funfact-title">Hours Work</strong>
						</div><!-- .funfact -->
					</div>
					<div class="col-md-3">
						<div class="funfact">
							
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="86214" data-runit="1">1000</span>+</div>
							<strong class="funfact-title">E-mail</strong>
						</div><!-- .funfact -->
					</div>
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="3647" data-runit="1">35</span>+</div>
							<strong class="funfact-title">Completed</strong>
						</div><!-- .funfact -->
					</div>
				</div>
			</div>
		</section>

		<section class="service" id="service">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Services</h3>
							
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="st-feature">
									<div class="st-feature-icon">WEB</div>
									<strong class="st-feature-title">Web Applications</strong>
									<p>We make web applications using Ruby on Rails, NodeJS, ReactJS, AngularJS.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="st-feature">
									<div class="st-feature-icon">
									MOB</div>
									<strong class="st-feature-title">Mobile Applications</strong>
									<p>For iOS and Android we build cross platform applications with Ionic framework having Ionic application developers with 5+ years of experience.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="st-feature">
									<div class="st-feature-icon">QUA</div>
									<strong class="st-feature-title">Quality Assurance</strong>
									<p>Aligning with the goal of finding and fixing problems, we manifest the absence of flaws in every project we adopt in our work force.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="portfolio" id="portfolio">
			<div class="container-fluid ">
				<div class="row">
					<div class="col-md-12 no-padding ">
						<div class="section-title st-center">
							<h3>What we have done</h3>
							<h4>We take pride in the products we have built as we just don’t build, we solve problems.</h4>
						</div>
						<div class="filter mb40">
							<form id="filter">
							<fieldset class="group">
								<label class="btn btn-default btn-main"><input type="radio" name="filter" value="all" checked="checked">All</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="photography">Mobile Application</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="design">Design</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="codding">Web Application</label>
							</fieldset>
							</form><!-- #filter -->
						</div><!-- .filter .mb40 -->

						<div class="grid">
							<figure class="portfolio-item" data-groups='["photography"]'>
								<img src="photos/portfolio.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="photos/portfolio2.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["photography"]'>
								<img src="photos/portfolio3.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="photos/portfolio4.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="photos/portfolio5.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["photography"]'>
								<img src="photos/portfolio6.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["codding"]'>
								<img src="photos/portfolio7.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["photography"]'>
								<img src="photos/portfolio8.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["codding"]'>
								<img src="photos/portfolio9.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["codding"]'>
								<img src="photos/portfolio10.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="photos/portfolio11.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="photos/portfolio12.jpg" alt=""/>
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
							</figure>
						</div>

					</div>
				</div>
			</div>
		</section>


		<section class="call-us">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>If you like to work with us</h3>
						<a href="#" class="btn btn-default-o btn-lg">Call Us Now</a>
					</div>
				</div>
			</div>
		</section>

		<section class="subscribe">
			<div class="container">
				<div class="row">
				</div>
			</div>
	

		<section class="contact" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Contact Us</h3>
							<p>Get in Touch with Us</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<form class="contact-form" role="form">
							<input type="text" class="form-control" id="fname" name="fname" placeholder="Your Full Name">
							<input type="email" class="form-control" id="email" name="email" placeholder="Your E-mail">
							<input type="text" class="form-control" id="subj" name="subj" placeholder="Your Subject">
							<textarea id="mssg" name="mssg" placeholder="Your Message" class="form-control" rows="10"></textarea>
							<button class="btn btn-main btn-lg" type="submit" id="send" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending..."><i class="fa fa-paper-plane "></i> Send</button>
						</form>
						<div id="result-message" role="alert"></div>
					</div>
					<div class="col-md-6">
						<p>We chase Vision not Money. ABC offer services that will suit everyone’s budget without any compromise in quality service. We have built an exemplary relationship with renowned industry names such as Cisco, HP, SONY, IBM and many more. We prepare for you the formula of success while providing you with extraordinary quality, convenience and service.</p>
						<address>
							<strong>Twitter, Inc.</strong><br>
							Brook House, 54A Cowley Mill Road<br>
							Uxbridge UB8 2FX ,United Kingdom<br>
							<abbr title="Phone">P:</abbr> +44 20 3743 9170 
						</address>
					</div>
					<div class="col-md-12">
						<div class="subscribe-result"></div>
						<p class="subscribe-or">or</p>
						<ul class="subscribe-social">
							<li><a href="#" class="social twitter"><i class="fa fa-twitter"></i> Follow</a></li>
							<li><a href="#" class="social facebook"><i class="fa fa-facebook"></i> Like</a></li>
							<li><a href="#" class="social rss"><i class="fa fa-rss"></i> RSS</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
					Copyright © 2018 ABC.com 
					</div>
				</div>
			</div>
		</footer>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- <script src="js/jquery.min.js"></script> -->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- 	<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/jquery.stellar.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.countTo.js"></script>
		<script src="js/jquery.shuffle.modernizr.js"></script>
		<script src="js/jquery.shuffle.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/script.js"></script> -->
	</body>
</html>
